<div class="pensamento {{memory.model}} ff-roboto-mono pensamento-p">
    <img src="/assets/images/{{memory.model}}.png" alt="Double Quotes">
    <p class="conteudo">
        {{memory.content}}
    </p>
    <p class="autoria">
        <b>{{memory.author}}</b>
    </p>

    <div class="acoes">
        <div class="botao-editar">
            <img src="/assets/images/icone-editar.png" alt="Edit Icon">
        </div>

        <div class="botao-excluir">
            <img src="/assets/images/icone-excluir.png" alt="Delete Icon">
        </div>
    </div>
</div>