<div class="pensamento {{memory.model}} ff-roboto-mono" [ngClass]="memoryWidth()">
    <img src="/assets/images/{{memory.model}}.png" alt="Double Quotes">
    <p class="conteudo">
        {{memory.content}}
    </p>
    <p class="autoria">
        <b>{{memory.author}}</b>
    </p>

    <div class="acoes">
        <div class="botao-editar" routerLink="/memory-detail/{{memory.id}}">
            <img src="/assets/images/icone-editar.png" alt="Edit Icon">
        </div>

        <div class="botao-excluir" routerLink="/memory-detail/delete/{{memory.id}}">
            <img src="/assets/images/icone-excluir.png" alt="Delete Icon">
        </div>
    </div>
</div>