<section class="container criar-pensamentos ff-inter">
    <header class="header">
        <h2>Add a<br>new memory: </h2>
    </header>
    <form>

        <label for="pensamento">Memory/Thought:</label>
        <input type="textarea" class="input" id="pensamento" name="pensamento" placeholder="Type your memory"
            [(ngModel)]=memory.content>

        <label for="autoria">Author</label>
        <input type="textarea" class="input" id="autoria" name="autoria" placeholder="Type the author name"
            [(ngModel)]=memory.author>

        <label for="modelo">Select the card model:</label>
        <div class="container-radio">

            <div class="radio-modelo">
                <label for="modelo1">
                    <input type="radio" id="modelo1" name="modelo-card" value="modelo1" [(ngModel)]="memory.model">
                    <div class="custom-radio">
                        <span></span>
                    </div>
                    <span>Model 1</span>
                </label>
                Preview:
                <div class="modelo modelo1 ff-roboto-mono">
                    <img src="../../../../assets/images/modelo1.png" alt="Blue Quotes">
                    <p class="conteudo">{{memory.content}}</p>
                    <p class="autoria"><b>{{memory.author}}</b></p>
                </div>
            </div>

            <div class="radio-modelo">
                <label for="modelo2">
                    <input type="radio" id="modelo2" value="modelo2" name="modelo-card" [(ngModel)]="memory.model">
                    <div class="custom-radio">
                        <span></span>
                    </div>
                    <span>Model 2</span>
                </label>
                Preview:
                <div class="modelo modelo2 ff-roboto-mono">
                    <img src="../../../../assets/images/modelo2.png" alt="Light Blue Quotes">
                    <p class="conteudo">{{memory.content}}</p>
                    <p class="autoria"><b>{{memory.author}}</b></p>
                </div>
            </div>

            <div class="radio-modelo">
                <label for="modelo3">
                    <input type="radio" id="modelo3" value="modelo3" name="modelo-card" [(ngModel)]="memory.model">
                    <div class="custom-radio">
                        <span></span>
                    </div>
                    <span>Model 3</span>
                </label>
                Preview:
                <div class="modelo modelo3 ff-roboto-mono">
                    <img src="../../../../assets/images/modelo3.png" alt="Green Quotes">
                    <p class="conteudo">{{memory.content}}</p>
                    <p class="autoria"><b>{{memory.author}}</b></p>
                </div>
            </div>


        </div>

        <div class="acoes">
            <button (click)="createMemory()" class="botao">Save</button>
            <button (click)="cancel()" class="botao">Cancel</button>
        </div>



    </form>
</section>